.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;

    width: 100%;

    list-style: none;

    background-color: #DAA520;
}

.flex-item {
    background: tomato;

    padding: 5px;
    width: 10%;
    height: 50px;
    margin-top: 0px;
    line-height: 50px;

    color: black;
    font-weight: bold;
    font-family: "Roboto Light", serif;
    font-size: 2em;
    text-align: center;
}

.headline{
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 2%;

    font-family: "Roboto Light", serif;
    font-size: 4em;
}

table, th, td {
    border: thin solid;
    border-collapse: collapse;
    table-layout: auto;
    font-family: "Roboto Light", serif;

}

.timeUnits{
    width: 80px
}

.table {
    width: 90%;
    margin: auto;
    margin-bottom: 2%;

    table-layout: fixed;
}

th:hover, td:hover {
    filter: brightness(0.8); /* Slightly darker shade on hover */
}

