.body {
    font-family: "Roboto Light", serif;
    width: 100%;
    background-color: #DAA520;
}


.content {
    width: 70%;
    margin: auto;

}

.timetableHeadline {
    margin-bottom: 8%;

    font-size: 5em;
    text-decoration-line: underline;
    text-align: center;
}

.greeting {
    margin-bottom: 6%;
    text-align: center;

    font-size: 3em;
    font-family: "Roboto Light", serif;
}

.selectionBox {
    text-decoration: none;
}

.navButton {
    display: inline;
    justify-content: center;

    background-color: tomato;
    width: 40%;
    min-width: 300px;

    margin-bottom: 40px;
    margin-left: 30%;

    font-weight: normal;
    font-size: 3em;
    text-align: center;
    font-family: "Roboto Light", serif;

    border: 2px solid #656565;
    border-radius: 5px;
    cursor: pointer;
}

.navButton:hover {
    filter: brightness(0.8); /* Slightly darker shade on hover */
}