.body {
    margin: auto;
    background-color: rgba(255, 204, 0, 0.73);
    display: flex;
    justify-content: stretch;

    padding-bottom: 22%;

    font-family: "Roboto Light", serif;

    width: 100%;
}


.content {
    width: 70%;

    margin: auto;
    margin-top: 0;
    flex-flow: column;


}

.timetableGenerator {
    margin-bottom: 8%;
    font-size: 5em;
    text-decoration-line: underline;
    text-align: center;
    font-family: "Roboto Light", serif;
}

.greeting {
    margin-bottom: 6%;
    font-size: 3em;
    text-align: center;
    font-family: "Roboto Light", serif;
}

.selectionBox {
    text-decoration: none;
}

.navButton {
    display: inline;
    justify-content: center;

    background-color: tomato;
    width: 40%;
    margin-bottom: 40px;
    margin-left: 30%;

    font-weight: normal;
    font-size: 3em;
    text-align: center;
    font-family: "Roboto Light", serif;

    border-style: solid;
    border-color: #656565;
}