.questions{
    width: 70%;
    margin: auto;
}

.questionHeadline{
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 2%;

    font-size: 4em;
    font-family: "Roboto Light", serif;

}

.createButton{
    color: rgba(0, 0, 0, 0.83);
    font-size: 1em;
    height: 70px;
    margin-bottom: 2%;

    background-color: tomato;

    font-size: 3em;
    font-family: "Roboto Light", serif;

    border: 2px solid #656565;
    border-radius: 5px;
    cursor: pointer;

    display: inline;
    justify-content: center;
    text-align: center;

    width: 40%;
    margin-left: 30%;
}

.createButton:hover {
    filter: brightness(0.8); /* Slightly darker shade on hover */
}