
section {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction:column;

    font-family: "Roboto Light", serif;
}

article {
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    font-family: "Roboto Light", serif;

    font-size: 4em;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 8%;
}

.inputField {
    font-size: 1.5em;
    margin: 10px 0;
    padding: 10px;
    width: 100%; /* Make the input fields full width */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submitButton {
    font-size: 1.5em;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #66b3ff; /* Slightly darker shade on hover */
}